.ENV
**/__pycache__/
*.pyc
.ipynb_checkpoints/

confidence.ipynb
connection.ipynb
f.ipynb
distillbert.ipynb
Multi-class_Classification.ipynb

chunk1.csv
bert_data.csv
groupped.py
connection.py

training_args.bin
optimizer.pt
rng_state.pth
trainer_state.json
scheduler.pt

wandb/

# Checkpoint rules
checkpoint/*
!checkpoint/*.safetensors
!checkpoint/*.bin
!checkpoint/config.json
!checkpoint/tokenizer_config.json
!checkpoint/tokenizer.json
!checkpoint/special_tokens_map.json
!checkpoint/vocab.txt